-if sym == "down"
  = image_tag("cross-circle.png")
-elsif sym == "up"
  = image_tag("tick-circle.png")
-elsif sym == "problem"
  = image_tag("exclamation.png")
-elsif sym == "info"
  = image_tag("information.png")
-else
  = sym