<!DOCTYPE html>
<html>
<head>
  <title>Activerecord</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% if signed_in? %>
	  <%= current_user.email %>
	  <%= link_to "Sign out", sign_out_path, :method => :delete %>
	<% else %>
	  <%= link_to "Sign in", sign_in_path %>
	<% end %>
<%= yield %>

</body>
</html>
